.img-responsive{
    display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        border-color: white;
        margin-left: 0px;
        margin-bottom: 0px;
        background-color: #000;
        flex-direction: row;
        padding-bottom: 80px;
        box-sizing: border-box;
}
