
.card{
    background-color:#000 ;
}
.swap{
    margin-left: 6px;
    font-size: 19px;
    color: white;

}



    .inputContainer{

        padding:0px 0 80px 0px;
        margin:25px 0 10px;
        border-radius: 30px ;
        width: 100%;
        height: 10px;
        border-color: white;
        align-items: flex-end;
        ::placeholder{
            font-size: 10px;
            color:white;
           text-align: left;
           position: relative;
           font-size: 17px;
           margin-left: 0px;
        }



    .input_img {
        position:absolute;
        bottom:1px;
        right:20px;
        width:100px;
        height:30px;
        margin:15% 10% 5%;
        padding:0%;
        top: 18px;


    }

    .input2_img {
        position:absolute;
        bottom:1px;
        right:20px;
        width:100px;
        height:30px;
        margin:15% 10% 5%;
        padding:0%;
        top: 120px;

    }

}

.dropbtn {
    background-color: #151719;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdownContent a:hover {background-color: #ddd;}

  .dropdown:hover .dropdownContent {display: block;}

  .dropdown:hover .dropbtn {background-color: #3e8e41;} 