
    .card {

        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        border-color: white;
        margin-left: 0px;
        margin-bottom: 0px;
        background-color: #151719;

        flex-direction: column;


        padding-top: 2px;
        padding-bottom: 500px;
        width: 100%;
        height: 100%;


    }

    .card-body {
        display: flex;
    }

    .button{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 220px;
        position: absolute;
        margin-top: 140px;
        background-color: rgb(77, 145, 77);
        border-radius: 4px;
    }
