.card{
    background-color:#151719 ;
}
.swap{
    margin-left: 6px;
    font-size: 19px;
    color: white;

}



    .inputContainer{

        padding:0 0 40px 0px;
        margin:30px 0 15px;
        border-radius: 50px ;
        width: 400px;
        height: 100px;
        border-color: white;
        border-style: solid;
        ::placeholder{
            font-size: 10px;
            color:white;
           position: fixed;
           font-size: 17px;
        }



    .input_img {
        position:absolute;
        bottom:1px;
        right:1px;
        width:100px;
        height:30px;
        margin:15% 10% 5%;
        padding:0%;
        top: 18px;

    }

    .input2_img {
        position:absolute;
        bottom:1px;
        right:1px;
        width:100px;
        height:30px;
        margin:45% 10% 5%;
        padding:0%;
        top: 18px;

    }

}
