
.input_img {
    display: flex;
    align-items: end;
    width: 80px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 20px;
    flex-direction: column;
    align-content: center;

}

.nav{
    display: flex;
    justify-content: space-between;
    background-color:#151719;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%;

}

.addTokenButton{
  width: auto;
    width: 500px;
    margin-top: 10px;
}

.addTokenButton button{
  width: auto;
    width: 180px;
    justify-content: space-between;
    margin-top: 20px;
    color: black;
    border: none;
    padding: 2px;
    border-radius: 5px;
}

.butt{
    display: flex;
    align-items: end;
    margin-top: 20px;
    margin-right: 20px;

}
